host = "localhost"
port = "8000"
publicDir = "frontend"
adminUUID = ""	# needs to be UUIDv4
adminPassword = ""
certFile = "certs/server.crt"
keyFile = "certs/server.key"

[mqtt]
host = ""
port = ""
certFile = "certs/server.crt"
clientId = "control-server"
username = "control-server"
password = ""
passwdFile = "/etc/mosquitto/passwd"
